    <nav id='menu'>
      <%= render partial: "show_menu", layout: false %>
    </nav>
    </nav>
    <section id='graph'>
      <div id="canvasWrapper"></div>
    </section>
    <div id='div-top'>
      <% if !current_user %>
        <%= render partial: "signin", layout: false %>
      <% end %>
    </div>
    <div id='post-info'></div>