/*@import url(http://fonts.googleapis.com/css?family=Permanent+Marker); /*font-family: 'Permanent Marker', cursive;*/*/
/*@import url(http://fonts.googleapis.com/css?family=Special+Elite); /*font-family: 'Special Elite', serif;*/*/
/*@import url(http://fonts.googleapis.com/css?family=Denk+One); /*font-family: 'Denk One', sans-serif;*/*/

/*@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);*/ /*font-family: 'Architects Daughter', cursive;*/
/*@import url(http://fonts.googleapis.com/css?family=Amatic+SC);*/ /*font-family: 'Amatic SC', cursive;*/
/*@import url(http://fonts.googleapis.com/css?family=Rock+Salt);*/ /*font-family: 'Rock Salt', cursive;*/

/* CSS RESET */
html, body, form, fieldset, legend { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }
ul, ol, li { margin: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th, td { text-align: left; vertical-align: top; font-weight: normal; }
input, textarea, select { font-size: 110%; line-height: 1.1; }
abbr, acronym { border-bottom: .1em dotted; cursor: help; }


body{
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

body, input, button, textarea {
  font-family: 'Special Elite', serif;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-bottom: 1em;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  margin-bottom: 0.5em;
}
#title {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
}

p {
  /*white-space:pre*/
}

.list-no-bullets {
  list-style-type: none;
  padding: 0.4em;
  line-height: 2em;
}

li {
  padding: 2px;
}
input {
  width: 100%;
}
textarea
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.img-fullwidth {
  width: 100%;
}

#graph{
  display:block;
  width:100%;
  height:100%;
  float:left;
}

#canvasWrapper{
/*  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;*/
  background-color: #000;
  position: absolute;
}

#div-top {
  position: absolute;
  width: 100%;
  z-index: 1
}

#menu {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 2em;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

#button-sign-in, #button-sign-out {
  float: right;
  padding: 10px;
}

#container {
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 14px 14px rgb(255,255,255);
  box-shadow: 0 0 14px 14px rgba(255,255,255,0.4);
  position: relative;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*padding: 10px*/
}

#post-info {
  display: none;
  position: absolute;
  z-index: 2;
  width: 30%;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 4px 4px rgb(255,255,255);
  box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
}

.error-message {
  color: red;
}

.warning-message {
  color: red;
}

.signout {
  display: block;
  float: right;
  /*width: 50%;*/
  /*position: relative;
  margin-left: auto;
  margin-right: 0;*/
}

.polaroid{
  display: block; visibility: hidden; position: absolute; top: -1000; left: -1000;
}

#pop-up {
  display: none;
  position: absolute;
  background: rgba(255,255,255, 0.8);
  padding: 5vh;
  z-index: 11;
  color: #336699;
  position: relative;
  width: 50%;
  top: 10vh;
  height: 70vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 7px 7px rgb(255,255,255);
  box-shadow: 0 0 7px 7px rgba(255,255,255, 0.8);
}
#pop-up-background {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 10;
}

#button-new-post, #button-customize-background {
  margin-left: 40px;
}

a.menu-item {
  padding: 10px;
  text-decoration: none;
  color: #888;
}

a.menu-item:hover {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-title, .menu-title-current {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-title-current {
  color: gray;
}

ul#category-menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}
ul#category-menu li {
  /*font: bold 12px/18px sans-serif;*/
  display: inline-block;
  margin-right: -4px;
  position: relative;
  /*padding: 15px 20px;*/
  /*background: #fff;*/
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul#category-menu li:hover {
  background: #222;
  /*color: #fff;*/
}
ul#category-menu li ul {
  padding: 0;
  position: absolute;
  top: 40px;
  left: 0;
  width: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#category-menu li ul li { 
  background: #222; 
  display: block; 
  color: #fff;
  padding: 2px;
}
ul#category-menu li ul li:hover { 
  background: #666; 
}
ul#category-menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}