<form id="form-update-background">
<ul class='list-no-bullets'>
	<li>
		<label>CSS: </label>
		<textarea name='css' cols="2" rows="10" ><%= current_category.css %></textarea>
	</li>
	<li>
		<input id='button-update-background' type='Submit'/>
	</li>
</ul>
</form>