<nav id='menu'>
</nav>
<div id="canvasWrapper"></div>
<div id='div-top'>
	<!-- <div id='container'>
	</div> -->
</div>
<div id="pop-up"></div>
<div id="pop-up-background"></div>

<div id='post-info'></div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
  	viewLayout();

    imageUp = new Image();
    imageUp.src = "<%= asset_path('arrow-up-b.png') %>";

    imageDown = new Image();
    imageDown.src = "<%= asset_path('arrow-down-b.png') %>";

    imageCompose = new Image();
    imageCompose.src = "<%= asset_path('compose.png') %>";

    imageTrash = new Image();
    imageTrash.src = "<%= asset_path('trash-b.png') %>";
  });
</script>