<!DOCTYPE html>
<html>
<head>
  <title>CanvasBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
    <nav id='menu'></nav>
    <section id='graph'>
      <div id="canvasWrapper"></div>
    </section>
    <div id='div-top'><%= yield %></div>
    <div id='post-info'></div>
  </main>

</body>
</html>
